*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    color: #a498fa;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.landIMG{
    height: 100vh;
    background: url(/images/Logo/C_LOGO_bkbg.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}