body{
    height: 100vh;
    color: lightgrey;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.outreach{
    height: 80vh;
    width: 70vw;
    line-height: 5vh;
    font-size: 30px;
}
.outreach .MSUIMG{
    height:200px;
}
.imgContainer{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.imgContainer img{
    height: 200px;
    border: solid lightgrey 1px;
}
.imgContainer img:hover{
    scale: 1.1;
    box-shadow: 0px 0px 30px lightgrey;
}
@media screen and (max-width:1179px) {
    body{
        height: 160vh;
    }
.outreach{
    height: 80vh;
    width: 90vw;
    line-height: 3vh;
    text-align: center;
    font-size: 16px;
}
.imgContainer{
    display: block;
    align-items: center;
    justify-content: center;
}
.imgContainer img{
    height: 150px;
    border: solid lightgrey 1px;
}
.imgContainer img:hover{
    scale: 1.1;
    box-shadow: 0px 0px 30px lightgrey;
}
}